# Python
.venv/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.pytest_cache/
*.sqlite3

# IDE and OS
.idea/
*.swp
.DS_Store
.env
.copy.env

# Files
git-auto-commit.sh
git-auto-init.sh
setup-config.sh